<section>
<div class="container"  style="margin-left:200px">
<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr>
                            <th><span>Sl No</span></th>
							<th><span>User</span></th>
							<th><span>Contact</span></th>
							<th class="text-center"><span>Status</span></th>
							<th><span>Email</span></th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
                        {{#each users}} 
						<tr>
                            <td>{{inc @index}}</td>
							<td>
								<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png" alt="" style="border-radius: 30px;">
								<a href="#" class="user-link">{{this.firstName}}</a>
								<span class="user-subhead">user</span>
							</td>
							<td>
								{{this.phoneNumber}}
							</td>
							<td class="text-center">
                            {{#if this.status}}
								<span class="label label-default">Active</span>
                            {{else}}
                                <span class="label label-default">Inactive</span>
                            {{/if}}
							</td>
							<td>{{this.emailAddress}}</td>
							<td style="width: 20%;">
							
                            {{#if this.status}}
								<a href="/admin/statusUpdate/{{this._id}}" class="table-link btn btn-danger">
									Block
								</a>
                            {{else}}
                                <a href="/admin/statusUpdate/{{this._id}}" class="table-link btn btn-success">
									Unblock
								</a>
                            {{/if}}

								
							</td>
						</tr>
                        {{/each}}
						
					</tbody>
				</table>
			</div>
			
		</div>
	</div>
</div>
</div>
</section>