<section>
    <div class="container mt-4" style="margin-left:100px">
    <nav class="nav nav-borders" style="background-color: transparent;">
        <a class="nav-link" href="/user/profile" target="__blank">Profile</a>
        <a class="nav-link" href="/user/addressBook" target="__blank">Address Book</a>
        <a class="nav-link" href="/user/wallet" target="__blank">Wallet</a>
        <a class="nav-link active ms-0" href="/user/orders" target="__blank">Your Orders</a>
    </nav>
    <hr class="mt-0 mb-4">

        {{#each orders}}
        <div class="card mb-3">
            <h5 class="card-header" style="background-color:black; color:white; font-size: 15px;">Ordered On: {{this.displayDate}}
            </h5>
            <div class="d-flex card-font-size">
                <img class="img-fluid ms-2 my-2" src="{{this.productInfo.image.[0]}}"
                    alt="Card image" width="120">
                <div class="card-body ms-5 w-25">
                    <h5 class="card-title">{{this.productInfo.name}}</h5>
                    <p class="card-text">Quantity: {{this.quantity}}</p>
                    <p class="card-text">Price: ₹{{this.productInfo.offerPrice}}</p>  
                </div>
                {{#eq this.proStatus 'return'}}
                <div class="card-body w-25">
                    <p class="alert alert-info">Product is returned</p>
                </div>
                {{else}}
                <div class="card-body w-25">
                    <p class="card-text">{{this.deliveryDetails.address}}</p>
                    <p class="card-text">{{this.deliveryDetails.city}},{{this.deliveryDetails.state}}</p>
                    
                    <p class="card-text">Pin Code: {{this.deliveryDetails.zipCode}}</p>
                    <p class="card-text">{{this.deliveryDetails.phoneNumber}}</p>
                </div>
                {{/eq}}
                <div class="card-body">
                {{#eq this.proStatus 'cancelled'}}
                <p class="alert alert-danger">order is cancelled</p>
                {{else}}
                <p class="card-text">Payment Method: {{this.paymentMethod}}</p>
                <p>Order Status : <span class="badge badge-boxed badge-soft-warning">{{this.proStatus}}</span></p>
                <button type="submit" class="rounded btn btn-outline-danger" onclick="cancelOrder('{{this._id}}','{{this.productInfo._id}}')">Cancel Order</button>
                {{/eq}}

                {{#eq this.proStatus 'delivered'}}
                <button type="submit" class="rounded btn btn-outline-danger" onclick="returnOrder('{{this._id}}','{{this.productInfo._id}}')">Return Order</button>
                {{/eq}}
                </div>

            </div>
        </div>
        {{/each}}
    </div>
</section>  

<style>
    .badge-soft-warning {
    background-color: rgba(248,201,85,.2);
    color: #f8c955;
}

.badge {
    font-weight: 500;
    font-size: ;
}
.badge-soft-primary {
    background-color: rgba(96,93,175,.2);
    color: #605daf;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

 .nav-borders .nav-link.active { color: #111;
  border-bottom-color: #111; } 
  
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

</style>