{{! new product view page }}
<style>
  @import
  url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');
</style>
<div>
    
</div>
<div>
  {{#each productDetails}}
    <div class="d-flex mb-5 justify-content-center mt-5">
      <div class="mx-5">
        <div>
          <div class="col-md-4 w-100 px-0 lens" id="img-container">
            <img
              id="image"
              src="{{this.image.[0]}}"
              class=""
            />
          </div>

        </div>
        <div class="d-flex mt-3">
          <div class="col-md-2 me-3 px-0">
            <button class="border-0" onclick="changeImage('img0')">
              <img
                src="{{this.image.[0]}}"
                class="img-fluid"
                id="img0"
                width="100"
              />
            </button>
          </div>
          <div class="col-md-2 me-3 px-0">
            <button class="border-0" onclick="changeImage('img1')">
              <img
                src="{{this.image.[1]}}"
                class="img-fluid"
                id="img1"
                width="100"
              />
            </button>
          </div>
          <div class="col-md-2 me-3 px-0">
            <button class="border-0" onclick="changeImage('img2')">
              <img
                src="{{this.image.[2]}}"
                class="img-fluid"
                id="img2"
                width="100"
              />
            </button>
          </div>
          <div class="col-md-2 me-3 px-0">
            <button class="border-0" onclick="changeImage('img3')">
              <img
                src="{{this.image.[3]}}"
                class="img-fluid"
                id="img3"
                width="100"
              />
            </button>
          </div>
        </div>
      </div>

      {{!Right Column}}
      <div class="my-5">
        <div class="mb-3">
          <div
            class="text-decor h2"
            style="font-family: 'Poppins', sans-serif;font-size: 46px;"
          >{{this.name}}</div>
        </div>
        <div class="mb-3">
          <div class="text-decor h3 text-danger"><s
            >₹{{this.actualPrice}}</s></div>
        </div>
        <div class="mb-3">
          <div class="text-decor h3">₹{{this.offerPrice}}</div>
        </div>
        <div class="rating">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-star-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-star-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-star-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-star-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-star"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
            ></path>
          </svg>
        </div>
        <div class="my-3" style="width: 30rem;">
          <div class="">{{this.description}}</div>
        </div>
        
        <div>
          <div class="d-flex">

            <button onclick="addToCart('{{this._id}}')" class="btn btn-outline-dark">Add to Bag</button>
            <button onclick="addToWishlist('{{this._id}}')" class="btn btn-outline-dark">Wishlist</button>

          </div>
        </div>
      </div>
    </div>
    <hr />
  {{/each}}
</div>

